.header {
    margin-top: 6px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.header__icon {
    width:20%;
    display: flex;
    align-items: center;
    column-gap: 10%;
}
.header__icon-img {
}
.header__icon-title {
    text-transform: uppercase;
}

.header__choose {
    width:30%;
    display: flex;
    align-items: center;
    column-gap: 6%;
}
.header__choose-form{
    display: flex;
    border:1px solid #ccc;
}
.header__choose-input{
    padding: 8px;
    width: 260px;
    border: none;
}
.header__choose-btn{
    border: none;
    cursor: pointer;
    background: rgb(234, 236, 238);
}
.header__choose-btn:hover{
    background: rgb(229, 194, 220);
}
.header__choose-img {
}
.header__choose-search {
}